<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path == '/' ? 'active' : '' %>" href="/">Store</a></li>
            <li class="main-header__item"><a class="<%= path == '/admin/add-store' ? 'active' : '' %>" href="/admin/add-store">Add Store</a></li>
        </ul>
    </nav>
</header>